# Example usage

To use `spoonacular_api` in a project:

In [11]:
import spoonacular_api.spoonacular_api as sp
from dotenv import load_dotenv
import os
load_dotenv()
API_Key = os.getenv('API_Key')

In [15]:
shoppingList = sp.GroceryList('username', 'firstName', 'lastName', 'email@email.com', API_Key)

In [17]:
shoppingList.searchRecipe('cake', 'strawberry', 'whipped cream')

,Recipe,Servings,Price Per Serving,Recipe ID
0,Ricotta Orange Pound Cake With Amaretto Strawb...,8,1.35,658339
1,Simple Strawberry Shortcake,16,0.59,1095781
2,Charlotte Tiramisu Cake With A Hint Of Baileys...,8,1.43,637463

In [19]:
shoppingList.getIngredients(1095781)

         Ingredient   Amount      Unit
0   unsalted butter   16.000     Tbsps
1             sugar  200.000         g
2              eggs    4.000
3  unbleached flour  250.000         g
4     baking powder    1.500      tsps
5              salt    1.000       tsp
6              milk  122.000        ml
7   vanilla extract    1.000       tsp
8      strawberries  453.592         g
9     whipped cream   16.000  servings

In [20]:
shoppingList.addAllIngredients(1095781)

Shopping list

                Item   Amount   Unit  Cost (USD)  Item ID
0    vanilla extract      1.0    tsp        0.31  1403537
1              sugar    200.0      g        0.28  1403525
2   unbleached flour    250.0      g        0.56  1403529
3      baking powder      1.5   tsps        0.04  1403531
4               milk    122.0     ml        0.17  1403535
5      whipped cream     16.0               1.30  1403541
6    unsalted butter     16.0  Tbsps        1.92  1403523
7               eggs      4.0               0.96  1403527
8       strawberries  453.592      g        4.05  1403539
9               salt      1.0    tsp        0.01  1403533
10        Total cost                        9.60

In [21]:
shoppingList.deleteItem(1403537, 1403525)

Shopping list

               Item   Amount   Unit  Cost (USD)  Item ID
0  unbleached flour    250.0      g        0.56  1403529
1     baking powder      1.5   tsps        0.04  1403531
2              milk    122.0     ml        0.17  1403535
3     whipped cream     16.0               1.30  1403541
4   unsalted butter     16.0  Tbsps        1.92  1403523
5              eggs      4.0               0.96  1403527
6      strawberries  453.592      g        4.05  1403539
7              salt      1.0    tsp        0.01  1403533
8        Total cost                        9.01